div.container {
	margin-top: 30px;
}

li.current {
	font-weight: bold;
}

.alert-agt-info {
    background: #ffa50082;
    padding: 5px;
    border: 1px solid orange;
    margin-bottom: 10px;
    border-radius: 8px;
    }
